<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CSharpMinifier.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <CSharpMinifier.GUI.Properties.Settings>
            <setting name="RemoveComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveSpaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LineLength" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MinifyFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MiscCompressing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="InputPanelHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConsoleApp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveNamespaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveToStringMethods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompressPublic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalVarsCompressing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MembersCompressing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TypesCompressing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Code" serializeAs="String">
                <value />
            </setting>
            <setting name="UselessMembersCompressing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Unsafe" serializeAs="String">
                <value>True</value>
            </setting>
        </CSharpMinifier.GUI.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Thread" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
